@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ant-primary-color: #000000;
  --text-xs--line-height: 1.25rem;
  --ant-blue-6: #00b9d6 !important;
  --ant-blue: #00b9d6 !important;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  color: #000000;
  overflow-x: hidden;
}

/* Parametrização */
:root {
  /* defaults só por segurança */
  --bt-size: 36px;
  --bt-color: #1677ff;
  --bt-speed: 0.9s;
  --bt-count: 8;
}

input,
select,
.ant-input-password,
.ant-picker,
.ant-select,
.ant-input-number {
  border-radius: 0 !important;
}

.ant-select-item-option-selected > div {
  color: #fff !important;
}

.ant-select-item-option-selected .anticon svg {
  filter: brightness(0) invert(1) !important;
}

.ant-form-item-control {
  min-height: 40px !important;
  display: flex !important;
  justify-content: center !important;
}

.auth-form .ant-form-item-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form .ant-form-item-explain-error {
  text-align: center;
}

.auth-form .ant-select-content,
.auth-form input {
  text-align: center;
  justify-content: center;
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  z-index: 1;
}

.menu-scroll-div {
  overflow-y: auto;
}

.menu-scroll-div::-webkit-scrollbar {
  width: 12px;
}

.menu-scroll-div::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #000;
  border: 1px solid #000;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.menu-scroll-div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

.principal-menu {
  background-color: #010202 !important;
}

.principal-menu .ant-menu-item .ant-menu-item-icon {
  max-width: 20px;
  margin-right: 6px !important;
}

.principal-menu .ant-menu-item-selected .ant-menu-item-icon {
  filter: grayscale(100%) brightness(0);
}

.ant-menu-title-content {
  margin-left: 0 !important;
}

.principal-menu .ant-menu-item {
  margin: 0 !important;
  width: 100% !important;
  height: 35px !important;
  color: #fff !important;
}

.ant-menu-item-group {
  margin-top: 10px !important;
}

.ant-menu-item-group-title {
  color: #b1bdd7 !important;
  font-size: 13px !important;
}

.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item {
  padding-inline: 16px !important;
  font-size: 13px !important;
}

.principal-menu .ant-menu-item-selected {
  background-color: #fff !important;
  color: #000 !important;
}

.principal-menu .ant-menu-item-selected .icon {
  filter: brightness(0) saturate(100%) invert(14%) sepia(58%) saturate(2318%) hue-rotate(187deg) brightness(96%) contrast(91%);
}

.ant-btn {
  box-shadow: none !important;
}

.ant-picker,
select {
  min-height: 40px !important;
}

.ant-radio-button-wrapper,
.ant-btn-lg {
  font-size: 14px !important;
}

.ant-collapse-header {
  padding: calc(var(--spacing) * 4) !important;
}

.collapse-learning .ant-collapse-header {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.collapse-learning .ant-collapse-expand-icon {
  margin-left: 40px !important;
}

.collapse-learning .ant-collapse-body {
  background-color: #eaeaea;
  border: 0 !important;
  padding: 20px !important;
}

.collapse-result {
  background-color: transparent !important;
}

.collapse-result .ant-collapse-item {
  margin-bottom: 20px !important;
  border-bottom: 0 !important;
  border: 1px solid #969696 !important;
  border-radius: 0 !important;
}

.collapse-result .ant-collapse-header {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}

.collapse-result.completed .ant-collapse-header {
  background-color: #eef7f1 !important;
}

.collapse-result.completed .ant-collapse-item {
  border: 1px solid #2f8351 !important;
}

.collapse-result.completed .ant-collapse-body {
  background-color: #eef7f1;
}

.collapse-result .ant-collapse-expand-icon {
  margin-left: 0 !important;
}

.collapse-result .ant-collapse-body {
  background-color: #eaeaea;
  border: 0 !important;
  padding: 20px !important;
}

.collapse-result .collapse-course .ant-collapse-header {
  background-color: #fff !important;
}

.collapse-result .collapse-course .ant-collapse-body {
  background-color: #fff !important;
}

.collapse-course {
  background-color: transparent !important;
}

.collapse-course .ant-collapse-item {
  margin-bottom: 20px !important;
  border-bottom: 0 !important;
  border: 1px solid #969696 !important;
  border-radius: 0 !important;
}

.collapse-course .ant-collapse-header {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}

.collapse-course .ant-collapse-expand-icon {
  margin-left: 0 !important;
}

.collapse-course .ant-collapse-body {
  background-color: #fff;
  border: 0 !important;
  padding: 20px !important;
}

.collapse-course .ant-collapse-body {
  padding: 0 !important;
}

.ant-btn {
  border-radius: 0 !important;
}

.ant-btn.blue {
  background-color: #00b9d6;
  color: #fff;
  border-color: #00b9d6 !important;
}

.ant-btn.blue:hover {
  background-color: transparent;
  color: #00b9d6 !important;
  border-color: #00b9d6 !important;
}

.button-back-learning-header {
  background-color: transparent !important;
  border: 2px solid #010202;
  color: #010202 !important;
  border-style: dashed;
  border-radius: 40px !important;
  font-size: 16px !important;
  height: 50px !important;
}

.button-back-learning-header:hover {
  background-color: #010202 !important;
  color: #fff !important;
  border: 2px solid #010202 !important;
}

.button-learning-header {
  background-color: transparent !important;
  border: 2px solid #010202;
  color: #010202 !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  height: 50px !important;
}

.button-learning-header:disabled {
  background-color: rgba(1, 2, 2, 0.2) !important;
  border: 2px solid rgba(1, 2, 2, 0.2) !important;
  color: rgba(1, 2, 2, 0.5) !important;
}

.button-learning-header:hover {
  background-color: #010202 !important;
  border: 2px solid #010202 !important;
  color: #fff !important;
}

.button-learning-header:disabled:hover {
  background-color: rgba(1, 2, 2, 0.2) !important;
  border: 2px solid rgba(1, 2, 2, 0.2) !important;
  color: rgba(1, 2, 2, 0.5) !important;
}

.button-learning-footer {
  background-color: #010202 !important;
  border: 2px solid #010202;
  color: #fff !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  height: 50px !important;
}

.button-learning-footer:disabled {
  background-color: rgba(1, 2, 2, 0.2) !important;
  border: 2px solid rgba(1, 2, 2, 0.2) !important;
  color: rgba(1, 2, 2, 0.5) !important;
}

.button-learning-footer:hover {
  background-color: transparent !important;
  border: 2px solid #010202 !important;
  color: #010202 !important;
}

.button-learning-footer:disabled:hover {
  background-color: rgba(1, 2, 2, 0.2) !important;
  border: 2px solid rgba(1, 2, 2, 0.2) !important;
  color: rgba(1, 2, 2, 0.5) !important;
}

.review-test-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #707070;
  margin-bottom: 10px;
}

.test-form-item .ant-checkbox-group,
.test-form-item-multiple .ant-checkbox-group {
  width: 100%;
}

.test-form-item .ant-checkbox-wrapper,
.test-form-item-multiple .ant-checkbox-wrapper {
  width: 100%;
  padding: 20px;
  border: 1px solid #707070;
  margin-bottom: 10px;
}

.test-form-item .ant-checkbox-wrapper-checked,
.test-form-item-multiple .ant-checkbox-wrapper-checked {
  border: 1px solid #00b9d6 !important;
  background-color: rgba(0, 185, 214, 0.2);
}

.review-test-question.correct {
  border: 1px solid #2f8351 !important;
  background-color: #eef7f1;
}

.review-test-question.incorrect {
  border: 1px solid #db0709 !important;
  background-color: #faeeee;
}

.test-form-item .ant-checkbox .ant-checkbox-inner,
.test-form-item-multiple .ant-checkbox .ant-checkbox-inner {
  border-radius: 100% !important;
  width: 20px;
  height: 20px;
}

.review-test-question .circle {
  border: 1px solid rgba(112, 112, 112, 1);
  border-radius: 100% !important;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.review-test-question.multiple .circle {
  border: 1px solid #00b9d6;
}

.test-form-item-multiple .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00b9d6; /* cor do dot */
  border-color: #00b9d6;
}

.test-form-item .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.test-form-item-multiple .ant-checkbox-wrapper-checked:hover .ant-checkbox-inner {
  border-color: #00b9d6 !important;
  background: #00b9d6 !important;
}

.test-form-item .ant-checkbox .ant-checkbox-inner::after {
  /* remove o símbolo de check */
  border: none !important;
  width: 14px;
  height: 14px;
  background-color: #00b9d6; /* cor do dot */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  content: "";
  position: absolute;
}

.test-form-item .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Remove o fundo azul do AntD quando checked */
.test-form-item .ant-checkbox-checked .ant-checkbox-inner {
  background-color: transparent;
}

.test-form-item .ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: #00b9d6 !important;
  background: transparent !important;
}

.test.form-item .ant-checkbox:hover .ant-checkbox-inner {
  background-color: transparent !important;
  border-color: #00b9d6 !important;
}

.radio-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.radio-image span {
  min-height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.radio-image.ant-radio-button-wrapper-checked {
  background: rgba(6, 24, 72, 0.2) !important;
}

.certificate-button {
  background-color: #ffc600 !important;
  border: 2px solid #ffc600;
  color: #000 !important;
  border-radius: 20px !important;
  font-size: 12px !important;
}

.certificate-button:hover {
  border: 2px solid #ffc600 !important;
}

.user-card-button-account {
  color: #00b9d6;
  border-color: #00b9d6;
}

.user-card-button-account:hover {
  color: #fff !important;
  background: #00b9d6 !important;
  border-color: #00b9d6 !important;
}

.user-card-button-account.selected {
  color: #fff !important;
  background: #00b9d6 !important;
  border-color: #00b9d6 !important;
}

.user-card-button-account.selected:hover {
  color: #00b9d6 !important;
  border-color: #00b9d6 !important;
  background-color: #fff !important;
}

.user-card-button-result {
  color: #000;
  border-color: #000;
}

.user-card-button-result:hover {
  color: #fff !important;
  background: #000 !important;
  border-color: #000 !important;
}

.user-card-button-result.selected {
  color: #fff !important;
  background: #000 !important;
  border-color: #000 !important;
}

.user-card-button-result.selected:hover {
  color: #000 !important;
  border-color: #000 !important;
  background-color: #fff !important;
}

.ant-dropdown-menu {
  border-radius: 0 !important;
}

@import "tailwindcss";
