@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --ant-primary-color: #2ac9cd;
  --text-xs--line-height: 1.25rem;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins";
  color: #2b5067;
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  z-index: 1;
}

.principal-menu {
  background-color: #2b5067 !important;
}

.principal-menu .ant-menu-item {
  margin: 0 !important;
  width: 100% !important;
  height: 45px !important;
  color: #fff !important;
}

.principal-menu .ant-menu-item-selected {
  background-color: #aab9c2 !important;
  color: #fff !important;
}

.principal-menu .ant-menu-item-selected .icon {
  filter: brightness(0) saturate(100%) invert(14%) sepia(58%) saturate(2318%) hue-rotate(187deg) brightness(96%) contrast(91%);
}

.ant-btn {
  box-shadow: none !important;
}

.ant-picker,
select {
  min-height: 40px !important;
}

.ant-radio-button-wrapper,
.ant-btn-lg {
  font-size: 14px !important;
}

.ant-collapse-header {
  padding: calc(var(--spacing) * 4) !important;
}

@import "tailwindcss";
