.tiptap-editor {
  border: 1px solid black;
}

.tiptap {
  caret-color: #6a00f5;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
  padding: 10px !important;
}

.tiptap :first-child {
  margin-top: 0 !important;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: "pretty";
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

/* Code and preformatted text styles */
.tiptap code {
  background-color: rgba(88, 5, 255, 0.05);
  border-radius: 0.4rem;
  color: #2e2b29;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: #2e2b29;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid rgba(61, 37, 20, 0.12);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap hr {
  border: none;
  border-top: 1px solid rgba(61, 37, 20, 0.08);
  margin: 2rem 0;
}

.tiptap-editor button {
  background: rgba(61, 37, 20, 0.08);
  border-radius: 0.5rem;
  border: none;
  color: var(--black);
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.15;
  margin: none;
  padding: 0.375rem 0.625rem;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.tiptap-editor .button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tiptap-editor .control-group {
  align-items: flex-start;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.tiptap-editor button.is-active,
.tiptap-editor input.is-active,
.tiptap-editor select.is-active,
.tiptap-editor textarea.is-active {
  background: #6a00f5;
  color: #fff;
}
